:root {
  --background: aliceblue;
  --white: white;
  --black: #000
}

.right-panel-modal {
  position: relative;
  display: flex;
}

.right-panel-content {
  position: absolute;
  top: 0;
  right: 0;
  width: 500px;
  min-height: 100vh;
  background-color: var(--white);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

.right-panel-footer {
  position: absolute;
  bottom: 0;
  margin: 10px;
}

.hidden {
  display: none;
}

.right-panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #39AEBC; */
  margin-bottom: 20px;
}

.backgroundLight {
  background-color: var(--background);
  padding: 16px;
  border-radius: 5px;
}

.right-panel-footer {
  display: flex;
  justify-content: flex-end;
}

.close-button {
  font-size: 24px;
  color: var(--black);
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

.backgroundPattern {
  min-height: 100%;
  background-color: var(--background);
}